{% extends 'base.html' %}
{% block content %}
<div class="container mx-auto">
    <h1 class="text-3xl font-bold mb-6">Create Expense Category</h1>
    <form method="post" class="max-w-lg">
        {% csrf_token %}
        <div class="mb-4">
            <label for="id_expense_name" class="block text-sm font-medium text-gray-700">Expense Name:</label>
            <input type="text" id="id_expense_name" name="expense_name" class="mt-1 focus:ring-blue-500 focus:border-blue-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md px-4 py-2">
        </div>
        <div class="mb-4">
            <label for="id_description" class="block text-sm font-medium text-gray-700">Description:</label>
            <textarea id="id_description" name="description" rows="3" class="mt-1 focus:ring-blue-500 focus:border-blue-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md px-4 py-2"></textarea>
        </div>
        <button type="submit" class="inline-block bg-purple-500 hover:bg-purple-600 text-white font-bold py-2 px-4 rounded-md shadow-md focus:outline-none focus:ring-2 focus:ring-purple-500 focus:ring-offset-2 transition duration-300 ease-in-out">Save</button>
    </form>
</div>
{% endblock %}
